In [33]:
import pandas as pd 
import numpy as np

In [34]:
df = pd.read_csv("C:\\Users\\pjhaw\\Downloads\\Diabetes.csv")

In [35]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [36]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [37]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [38]:
df["Glucose"].mean()

120.89453125

In [39]:
df["Glucose"].replace(0,df["Glucose"].mean()).isna().sum()

0

In [54]:
dfcol = ['Pregnancies','Glucose' ,'BloodPressure', 'SkinThickness', 'Insulin','BMI']

In [55]:
dfcol

['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

In [56]:
for i in dfcol:
    df[i] = df[i].replace(0,df[i].mean())

In [57]:
df[df["Glucose"]==0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [58]:
df[df["BloodPressure"]==0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [59]:
df[df["SkinThickness"]==0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [60]:
df[df["Pregnancies"]==0]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [61]:
df.sample(frac=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
455,14.000000,175.0,62.000000,30.000000,79.799479,33.6,0.212,38,1
53,8.000000,176.0,90.000000,34.000000,300.000000,33.7,0.467,58,1
711,5.000000,126.0,78.000000,27.000000,22.000000,29.6,0.439,40,0
703,2.000000,129.0,69.105469,20.536458,79.799479,38.5,0.304,41,0
569,3.845052,121.0,66.000000,30.000000,165.000000,34.3,0.203,33,1
...,...,...,...,...,...,...,...,...,...
496,5.000000,110.0,68.000000,20.536458,79.799479,26.0,0.292,30,0
580,3.845052,151.0,90.000000,46.000000,79.799479,42.1,0.371,21,1
451,2.000000,134.0,70.000000,20.536458,79.799479,28.9,0.542,23,1
532,1.000000,86.0,66.000000,52.000000,65.000000,41.3,0.917,29,0
497,2.000000,81.0,72.000000,15.000000,76.000000,30.1,0.547,25,0

In [62]:
df.sample(200)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
70,2.000000,100.0,66.0,20.000000,90.000000,32.9,0.867,28,1
221,2.000000,158.0,90.0,20.536458,79.799479,31.6,0.805,66,1
637,2.000000,94.0,76.0,18.000000,66.000000,31.6,0.649,23,0
575,1.000000,119.0,44.0,47.000000,63.000000,35.5,0.280,25,0
241,4.000000,91.0,70.0,32.000000,88.000000,33.1,0.446,22,0
...,...,...,...,...,...,...,...,...,...
757,3.845052,123.0,72.0,20.536458,79.799479,36.3,0.258,52,1
313,3.000000,113.0,50.0,10.000000,85.000000,29.5,0.626,25,0
324,2.000000,112.0,75.0,32.000000,79.799479,35.7,0.148,21,0
166,3.000000,148.0,66.0,25.000000,79.799479,32.5,0.256,22,0
563,6.000000,99.0,60.0,19.000000,54.000000,26.9,0.497,32,0

In [63]:
X=df.drop("Outcome",axis=1)

In [64]:
y = df["Outcome"]

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=0.2)

In [67]:
Xtrain.shape,Xtest.shape,ytrain.shape,ytest.shape

((614, 8), (154, 8), (614,), (154,))

In [68]:
from sklearn.preprocessing import StandardScaler

In [69]:
ss=StandardScaler()

In [70]:
ss.fit(Xtrain,ytrain)

StandardScaler()

In [71]:
Xtrain_ss = ss.transform(Xtrain)

In [72]:
Xtest_ss = ss.transform(Xtest)

In [73]:
from sklearn.ensemble import RandomForestClassifier

In [74]:
rfc = RandomForestClassifier()

In [76]:
rfc.fit(Xtrain_ss,ytrain)

RandomForestClassifier()

In [77]:
rfc.score(Xtest_ss,ytest)

0.7402597402597403

In [78]:
from sklearn.ensemble import BaggingClassifier

In [79]:
from sklearn.svm import SVC

In [80]:
bgc = BaggingClassifier(base_estimator=SVC())

In [81]:
bgc.fit(Xtrain_ss,ytrain)

BaggingClassifier(base_estimator=SVC())

In [82]:
bgc.score(Xtest_ss,ytest)

0.7402597402597403

In [83]:
from sklearn.linear_model import LogisticRegression

In [84]:
lreg = LogisticRegression()

In [85]:
from sklearn.svm import SVC

In [86]:
svc = SVC()

In [87]:
alg = [lreg,svc]

In [88]:
from sklearn.tree import DecisionTreeClassifier

In [89]:
dt = DecisionTreeClassifier()

In [90]:
dt.fit(Xtrain_ss,ytrain)

DecisionTreeClassifier()

In [92]:
dt.score(Xtest_ss,ytest)

0.6363636363636364