In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("C:\\Users\\pjhaw\\Downloads\\gld_price_data.csv")

In [3]:
df1

           Date          SPX         GLD        USO      SLV   EUR/USD
0      1/2/2008  1447.160034   84.860001  78.470001  15.1800  1.471692
1      1/3/2008  1447.160034   85.570000  78.370003  15.2850  1.474491
2      1/4/2008  1411.630005   85.129997  77.309998  15.1670  1.475492
3      1/7/2008  1416.180054   84.769997  75.500000  15.0530  1.468299
4      1/8/2008  1390.189941   86.779999  76.059998  15.5900  1.557099
...         ...          ...         ...        ...      ...       ...
2285   5/8/2018  2671.919922  124.589996  14.060000  15.5100  1.186789
2286   5/9/2018  2697.790039  124.330002  14.370000  15.5300  1.184722
2287  5/10/2018  2723.070068  125.180000  14.410000  15.7400  1.191753
2288  5/14/2018  2730.129883  124.489998  14.380000  15.5600  1.193118
2289  5/16/2018  2725.780029  122.543800  14.405800  15.4542  1.182033

[2290 rows x 6 columns]

In [4]:
df1.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [5]:
df1.isnull().sum()

Date       0
SPX        0
GLD        0
USO        0
SLV        0
EUR/USD    0
dtype: int64

In [6]:
df1.drop("Date" , axis = 1 , inplace = True)

In [7]:
X = df1.drop("EUR/USD" , axis = 1)

In [8]:
X

              SPX         GLD        USO      SLV
0     1447.160034   84.860001  78.470001  15.1800
1     1447.160034   85.570000  78.370003  15.2850
2     1411.630005   85.129997  77.309998  15.1670
3     1416.180054   84.769997  75.500000  15.0530
4     1390.189941   86.779999  76.059998  15.5900
...           ...         ...        ...      ...
2285  2671.919922  124.589996  14.060000  15.5100
2286  2697.790039  124.330002  14.370000  15.5300
2287  2723.070068  125.180000  14.410000  15.7400
2288  2730.129883  124.489998  14.380000  15.5600
2289  2725.780029  122.543800  14.405800  15.4542

[2290 rows x 4 columns]

In [9]:
y = df1[["EUR/USD"]]

In [10]:
y

       EUR/USD
0     1.471692
1     1.474491
2     1.475492
3     1.468299
4     1.557099
...        ...
2285  1.186789
2286  1.184722
2287  1.191753
2288  1.193118
2289  1.182033

[2290 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
Xtrain , Xtest , ytrain , ytest = train_test_split(X,y , test_size = 0.20)

In [13]:
Xtrain.shape , ytrain.shape

((1832, 4), (1832, 1))

# feature scaling standard scalar

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
ss = StandardScaler()

In [16]:
ss.fit(Xtrain)

StandardScaler()

In [17]:
Xtrain_ss = ss.transform(Xtrain)

In [18]:
Xtrain_ss

array([[-1.5499771 , -1.8260322 , -0.10376407, -1.37119796],
       [ 1.81348147,  0.08268808, -1.03337285, -0.67094688],
       [-0.1086692 ,  0.02361556,  0.07352455, -0.17640351],
       ...,
       [-1.49208853, -1.48615233, -0.18701267, -1.08095305],
       [ 1.94238523, -0.08339947, -1.06523341, -0.66390211],
       [-0.3817131 , -1.63468924,  2.37776212, -0.71039765]])

In [19]:
Xtest_ss = ss.transform(Xtest)

In [20]:
Xtest_ss

array([[ 0.10522811,  0.20297289,  0.25081317,  0.09834303],
       [ 0.1211038 ,  0.15246179,  0.31196478, -0.17640351],
       [-1.5278672 , -1.5109799 , -0.2234981 , -1.11617695],
       ...,
       [-1.04077107, -0.55940211,  0.33560326, -0.61177074],
       [ 0.31265878, -0.10052192,  0.06478849, -0.13836156],
       [ 0.48216164, -0.70665488, -1.15619016, -0.93723955]])

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
lreg = LinearRegression()

In [23]:
lreg

LinearRegression()

In [24]:
lreg.fit(Xtrain,ytrain)

LinearRegression()

In [25]:
lreg.score(Xtest , ytest)

0.7648262116540472

# CREATING SECOND OBJECT FOR SCALER VALUES

In [26]:
lreg1 = LinearRegression()

In [27]:
lreg1

LinearRegression()

In [28]:
lreg1.fit(Xtrain_ss , ytrain)

LinearRegression()

In [29]:
lreg.score(Xtest_ss , ytest)

-0.06876115282626838