In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.datasets import load_iris
import seaborn as sns

In [3]:
df = sns.load_dataset("iris")

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
df["species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [6]:
df.sample(frac=1)

     sepal_length  sepal_width  petal_length  petal_width     species
52            6.9          3.1           4.9          1.5  versicolor
122           7.7          2.8           6.7          2.0   virginica
142           5.8          2.7           5.1          1.9   virginica
20            5.4          3.4           1.7          0.2      setosa
101           5.8          2.7           5.1          1.9   virginica
..            ...          ...           ...          ...         ...
31            5.4          3.4           1.5          0.4      setosa
19            5.1          3.8           1.5          0.3      setosa
24            4.8          3.4           1.9          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
56            6.3          3.3           4.7          1.6  versicolor

[150 rows x 5 columns]

In [7]:
df.sample(150)

     sepal_length  sepal_width  petal_length  petal_width     species
9             4.9          3.1           1.5          0.1      setosa
17            5.1          3.5           1.4          0.3      setosa
73            6.1          2.8           4.7          1.2  versicolor
101           5.8          2.7           5.1          1.9   virginica
46            5.1          3.8           1.6          0.2      setosa
..            ...          ...           ...          ...         ...
0             5.1          3.5           1.4          0.2      setosa
45            4.8          3.0           1.4          0.3      setosa
129           7.2          3.0           5.8          1.6   virginica
53            5.5          2.3           4.0          1.3  versicolor
119           6.0          2.2           5.0          1.5   virginica

[150 rows x 5 columns]

In [8]:
df["species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
label = LabelEncoder()

In [11]:
label.fit(df["species"])

LabelEncoder()

In [12]:
ary1 = label.transform(df["species"])

In [13]:
dfsp = pd.DataFrame(ary1 , columns = ["Species"])

In [14]:
df = pd.concat([df,dfsp],axis=1).drop("species",axis=1)

In [15]:
df

     sepal_length  sepal_width  petal_length  petal_width  Species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [16]:
X = df.drop("Species",axis=1)

In [17]:
y = df["Species"]

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=0.2)

In [20]:
Xtrain.shape,Xtest.shape,ytrain.shape,ytest.shape

((120, 4), (30, 4), (120,), (30,))

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
rfc = RandomForestClassifier()

In [23]:
rfc.fit(Xtrain,ytrain)

RandomForestClassifier()

In [24]:
rfc.score(Xtest,ytest)

0.9666666666666667

In [25]:
from sklearn.ensemble import BaggingClassifier

In [26]:
from sklearn.svm import SVC

In [27]:
bgc = BaggingClassifier(base_estimator=SVC())

In [28]:
bgc.fit( Xtrain,ytrain)

BaggingClassifier(base_estimator=SVC())

In [29]:
bgc.score(Xtest,ytest)

0.9666666666666667