In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\pjhaw\\OneDrive\\Desktop\\DATASETS\\wine.csv",header=None)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [8]:
X = df.drop(0,axis=1)

In [9]:
X

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [20]:
y=df[[0]]

In [21]:
y

     0
0    1
1    1
2    1
3    1
4    1
..  ..
173  3
174  3
175  3
176  3
177  3

[178 rows x 1 columns]

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=0.20)

In [24]:
Xtrain.shape,Xtest.shape,ytrain.shape,ytest.shape

((142, 13), (36, 13), (142, 1), (36, 1))

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
ss = StandardScaler()

In [27]:
ss.fit(Xtrain)

StandardScaler()

In [29]:
Xtrain_ss = ss.transform(Xtrain)

In [30]:
Xtest_ss = ss.transform(Xtest)

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
dt = DecisionTreeClassifier()

In [33]:
dt.fit(Xtrain_ss,ytrain)

DecisionTreeClassifier()

In [34]:
dt.score(Xtest_ss,ytest)

0.9444444444444444

In [35]:
dt.score(Xtrain_ss,ytrain)

1.0

In [38]:
dt1 = DecisionTreeClassifier(criterion="gini")

In [39]:
dt1.fit(Xtrain_ss,ytrain)

DecisionTreeClassifier()

In [40]:
dt1.score(Xtest_ss,ytest)

0.9166666666666666

In [41]:
dt1.score(Xtrain_ss,ytrain)

1.0

In [42]:
dt2 = DecisionTreeClassifier(criterion="entropy")

In [43]:
dt2.fit(Xtrain_ss,ytrain)

DecisionTreeClassifier(criterion='entropy')

In [44]:
dt2.score(Xtest_ss,ytest)

0.9722222222222222

In [46]:
dt2.score(Xtrain_ss,ytrain)

1.0

In [47]:
from sklearn.model_selection import KFold,cross_val_score

In [49]:
kf = KFold(n_splits=10)

In [50]:
gscore = cross_val_score(DecisionTreeClassifier(),X,y,cv=kf)

In [51]:
gscore

array([1.        , 0.83333333, 0.88888889, 0.66666667, 0.72222222,
       0.94444444, 0.94444444, 0.72222222, 0.88235294, 0.94117647])

In [52]:
gscore.mean()

0.8545751633986928

In [53]:
nscore = cross_val_score(DecisionTreeClassifier(criterion="entropy"),X,y,cv=kf)

In [54]:
nscore.mean()

0.8869281045751635